extends layout

block content
  .container-fluid
    .row
      .col
        video
        canvas(id='picture')
        canvas(id='drawing')

  include ./modal
  +modal('json-modal', 'JSON results', 'json-result')
  +modal('error-modal', 'ERROR', 'error-content')
block append javascript_internal
  script(src='/javascripts/internal/media.js', type='text/javascript')
  script(src='/javascripts/internal/camera.js', type='text/javascript')
  script(src='/javascripts/internal/display_result.js', type='text/javascript')
