doctype html
html
  head
    title= title
    block stylesheet_external
      link(rel='stylesheet',
           href='/bootstrap/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/external/font-awesome.min.css')

    block stylesheet_internal
      link(rel='stylesheet', href='/stylesheets/internal/style.css')
  body
    block content
    block javascript_external
      script(src='/javascripts/external/jquery.min.js')
      script(src='/javascripts/external/popper.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/javascripts/external/json2html/json2html.js')
      script(src='/javascripts/external/json2html/jquery.json2html.js')
    block javascript_internal
